<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121035894307-u2gn897jh7oe2mpfji0dj7sh6koqg2bm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121035894307-u2gn897jh7oe2mpfji0dj7sh6koqg2bm</string>
	<key>API_KEY</key>
	<string>AIzaSyC-26vIhu6e3xu_C3UAYuYqa3UNGoOXkEY</string>
	<key>GCM_SENDER_ID</key>
	<string>121035894307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>dasdasd-6a669</string>
	<key>STORAGE_BUCKET</key>
	<string>dasdasd-6a669.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121035894307:ios:3d819742cef656c5740b96</string>
</dict>
</plist>